# Install OS instead of upgrade
install

# Use text mode install
text

# System language
lang en_US

# System keyboard
keyboard us

# System timezone
timezone America/New_York --isUtc

# Root password
rootpw --iscrypted $6$KRDHgc3d./yrazft$N.51XK9Ui3Qi99DgqVWY.Gl5aF4FbegXrXIiWtjYanQYjtzw.MJmyJJWb6b//87Fgd7H3CPXRrQ65px41pbBZ.

# Network information
network --bootproto=static --device=eno1 --noipv6 --ip=156.232.88.1 --netmask=255.255.255.252 --gateway=156.232.88.0 --nameserver=8.8.8.8
network --device=eno2 --onboot=no
network --device=eno3 --onboot=no
network --device=eno4 --onboot=no

# Use default bootloader (GRUB)
bootloader --location=mbr

# Clear all partitions and create new ones
zerombr
clearpart --all --initlabel

# Disk partitioning information
part /boot --fstype ext4 --size=1024
part pv.01 --size=1 --grow
volgroup VolGroup00 --pesize=32768 pv.01
logvol / --fstype ext4 --name=LogVol00 --vgname=VolGroup00 --size=10240 --grow
logvol swap --name=LogVol01 --vgname=VolGroup00 --size=2048

# SELinux configuration
selinux --disabled

# Firewall configuration
firewall --disabled

# Do not configure X Window System
skipx

# Installation of packages
%packages
@core
%end

# Post-installation script
%post
echo "Configuring the system..."
# Add any additional post-installation steps here
%end
